## Matrice de distances entre les 10 plus grandes villes de France

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import json

In [2]:
key = open("key.txt", "r").read()
gapi_url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins={}&destinations={},NY&key={}"
city_url = "https://fr.wikipedia.org/wiki/Liste_des_communes_de_France_les_plus_peupl%C3%A9es"

In [3]:
def get_soup_from_link(link) :
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = requests.get(link, headers=hdr)
    soup = BeautifulSoup(req.content, 'html.parser')
    return soup

In [4]:
table = get_soup_from_link(city_url).find('table').findAll('tr')
list_cities = list(map(lambda x : table[x].find('a').text, range(1,11)))

In [7]:
response = requests.get(gapi_url.format('|'.join(list_cities), '|'.join(list_cities), key))
json_response = json.loads(response.content)

In [59]:
distances = list(map(lambda x: list(map(lambda y: y['distance']['value'] if y['status']=='OK' else 'KO' ,x['elements'])), json_response['rows']))

In [62]:
mat_dist = pd.DataFrame(columns=list_cities, index=list_cities, data=distances)
mat_dist

,Paris,Marseille,Lyon,Toulouse,Nice,Nantes,Montpellier,Strasbourg,Bordeaux,Lille
Paris,0,774919,465611,679226,KO,384940,747612,491321,584304,225473
Marseille,776305,0,313682,403156,KO,986267,170380,801366,645426,999873
Lyon,467433,314189,0,537343,KO,685852,304567,487314,556344,691001
Toulouse,680475,405264,539337,0,KO,585743,244230,968678,244902,896018
Nice,KO,KO,KO,KO,KO,KO,KO,KO,KO,KO
Nantes,385914,986078,685365,586015,KO,0,825044,865455,346920,601457
Montpellier,749378,168925,302999,242314,KO,825426,0,790682,484585,964921
Strasbourg,490234,799556,492817,1021176,KO,865650,789934,0,1019162,524690
Bordeaux,591930,645771,556317,245707,KO,354069,484737,968095,0,807473
Lille,225269,1000935,691627,895018,KO,600732,963404,524773,800096,0